version: 2.1
executors:
  macos-executor:
    macos:
      xcode: 15.2.0
    working_directory: ~/project
jobs:
  build_and_deploy:
    executor: macos-executor
    environment:
      FASTLANE_USER: $FASTLANE_USER
      FASTLANE_PASSWORD: $FASTLANE_PASSWORD
      DEVELOPMENT_TEAM: $DEVELOPMENT_TEAM
    steps:
      - checkout
      - run:
          name: Install Fastlane
          command: sudo gem install fastlane -NV
      - run:
          name: Set up Fastlane
          command: |
            bundle init || true
            echo 'gem "fastlane"' >> Gemfile
            bundle install
            fastlane init --app_identifier com.aghari.customer --platform ios --skip_docs
      - run:
          name: Build and upload to App Store Connect
          command: bundle exec fastlane pilot upload --skip_waiting_for_build_processing true
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build_and_deploy:
          context: ios-appstore-credentials
