version: 2.1
jobs:
  build-ios:
    macos:
      xcode: "15.2.0"
    steps:
      - checkout
      - run:
          name: Print Environment Variables (Debug)
          command: |
            echo "DEVELOPMENT_TEAM is: $DEVELOPMENT_TEAM"
      - run:
          name: Install CocoaPods
          command: sudo gem install cocoapods
      - run:
          name: Install Flutter
          command: |
            git clone https://github.com/flutter/flutter.git --depth 1 -b stable
            export PATH="$PATH:`pwd`/flutter/bin"
      - run:
          name: Precache Flutter iOS artifacts
          command: |
            export PATH="$PATH:`pwd`/flutter/bin"
            cd aghari_customer
            flutter precache --ios
      - run:
          name: Install Dart and Flutter dependencies
          command: |
            export PATH="$PATH:`pwd`/flutter/bin"
            cd aghari_customer
            flutter pub get
      - run:
          name: Install CocoaPods dependencies
          command: |
            cd aghari_customer/ios
            pod install
            cd ../..
      - run:
          name: Build iOS Archive (DEVELOPMENT_TEAM required, allowProvisioningUpdates)
          command: |
            export PATH="$PATH:`pwd`/flutter/bin"
            if [ -z "$DEVELOPMENT_TEAM" ]; then
              echo "Error: DEVELOPMENT_TEAM environment variable is not set. Please set this in your CircleCI project or context." && exit 1
            fi
            xcodebuild -workspace aghari_customer/ios/Runner.xcworkspace -scheme Runner -sdk iphoneos -configuration Release clean archive -archivePath aghari_customer/ios/build/Runner.xcarchive DEVELOPMENT_TEAM=$DEVELOPMENT_TEAM -allowProvisioningUpdates
workflows:
  version: 2
  build:
    jobs:
      - build-ios
