version: 2.1
jobs:
  build-ios:
    macos:
      xcode: "15.2.0"
    steps:
      - checkout
      - run:
          name: Install CocoaPods
          command: sudo gem install cocoapods
      - run:
          name: Install CocoaPods dependencies
          command: |
            cd ios
            pod install
            cd ..
      - run:
          name: Export development_id as DEVELOPMENT_TEAM and build
          command: |
            export DEVELOPMENT_TEAM="$development_id"
            xcodebuild -workspace ios/Runner.xcworkspace -scheme Runner -sdk iphoneos -configuration Release clean archive -archivePath ios/build/Runner.xcarchive DEVELOPMENT_TEAM=$DEVELOPMENT_TEAM
workflows:
  version: 2
  build:
    jobs:
      - build-ios