version: 2.1
jobs:
  build:
    macos:
      xcode: 15.2.0
    steps:
      - checkout
      - run:
          name: Install Flutter dependencies
          command: cd aghari_customer && flutter pub get
      - run:
          name: Install CocoaPods dependencies
          command: cd aghari_customer/ios && pod install
      - run:
          name: Build iOS app
          command: cd aghari_customer/ios && xcodebuild -workspace aghari_customer.xcworkspace -scheme aghari_customer -sdk iphoneos -configuration Release clean build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
      - store_artifacts:
          path: aghari_customer/ios/build
          destination: ios-build
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
